:root{
  --gray-color: #8e8eaa;
  --blue-color: #3851a4;
  --buttons-color: #afdcf9;
}

/* Reset values */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.main--carousel{
  display: none;
}

.main--login{
  width: 90%;
  margin: 20px auto;
}

.main--login .main--title{
  text-align: center;
  margin-bottom: 20px;
}

.main--login .main--title > h1{
  font-size: 3.4rem;
}

/* Estilos form */

.login--form{
  width: 90%;
  margin: 0 auto;
}

.login--form .form--input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid var(--gray-color);
}

.login--form .form--button{
  display: block;
  padding: 10px;
  width: 80px;
  margin: 0 auto;
  background-color: var(--buttons-color);
  width: 100%;
  border: 0;
  color: white;
  font-weight: 600;
}

.divisor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.divisor div{
  width: 45%;
  height: 1px;
  background-color: var(--gray-color);
}

/* Estilos links */

.login--alternative{

}
.alternative--link{
  color: var(--blue-color);
  display: block;
  text-align: center;
  margin: 15px 0;
}

.alternative--link__bold{
  font-weight: 700;
}

.alternative--link__small{
  font-size: 1.4rem;
}

.alternative--paragraph{
  margin-top: 60px;
  text-align: center;
}

.links--paragraph{
  margin: 50px 0 25px;
  text-align: center;
}
.alternative--link__blue{
  color:var(--blue-color);
  font-weight: 700;
}

/* Buttons img */

.links--list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.links--list img{
  width: 100%;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

/* Footer */

.footer--list{
  display: flex;
  width: 90%;
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 768px;
  font-size: 1.4rem;
}

.footer--list li{
  margin: 5px;
}

.footer--list li a{
  color: var(--gray-color);
}

@media (min-width: 768px) {
  body{
    background-color: #fafafa;
  }

  .main--login{
    border: 1px solid var(--gray-color);
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    max-width: 370px;
  }
}


@media (min-width: 1024px){

  .main{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    max-width: 850px;
  }

  .main--carousel{
    position: relative;
    display: block;
    background-image: url("./imgs/case.png");
    background-size: cover;
    width: 400px;
    height: 600px;
  }

  .main--carousel img{
    position: absolute;
    right: 15px;
    bottom: 56px;
    height: 87%;
  }


}